.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 350px;
  filter: drop-shadow(0 0 30px cl(color-black, 0.15));

  &__body {
    padding: 35px 30px;
    width: 100%;
    min-height: fluid-value(25, 50);
    background-color: cl(color-polo-blue);
    transition: background-color 0.3s ease 0s, padding 0.3s ease 0s;
  }

  // .header__container

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: min-height 0.3s ease 0s;
    gap: 33px;
  }

  &__body &__container {
    gap: fluid-value(33, 80);
  }

  &__action {
    align-self: center;
  }

  // .header__block

  &__block {
    display: flex;
    gap: 25px;
  }

  // .header__logo

  &__logo {
    margin-top: 30px;
    width: 186px;
    height: 50px;
  }

  // .header__nav
  &__nav {}

  &__burger {
    flex: 0 0 0;
  }

  // .header__info
  &__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
  }


  // .header__sub
  &__sub {
    padding: 35px 25px;
    width: 100%;
    background-color: cl(color-white);
  }
}