.banner {
  // .banner__container
  &__container {
    position: relative;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .banner__background
  &__background {
    position: absolute;
    width: 97.5%;
    height: 100%;
    z-index: -1;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: cl(color-white, 0.5);
      z-index: 2;
    }
  }

  // .banner__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .banner__title
  &__title {
    max-width: 520px;
    font: cl(big-bold-title-font);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  // .banner__btn
  &__btn {
  }
}
