// === Sass imports ===================================================================================================================================================

@use "sass:math";

// ====================================================================================================================================================================

// === Settings =======================================================================================================================================================

// ==== Font Settings =================================================================================================================================================

$font-base-size: 14;
$font-family: "Raleway";
$font-family-title: "Oswald";

// ====================================================================================================================================================================

// ==== Site Settings =================================================================================================================================================

$container-size: 1110px;
$safe-padding: 15px;
$background: rgb(var(--color-darken-white));
$template-size: 1920px;

// ====================================================================================================================================================================

// ==== Adaptive Settings ==============================================================================================================================================

$xxs: 320px;
$xs: 375px;
$sm: 425px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;

// ====================================================================================================================================================================

// === functions are connected here. ==================================================================================================================================

@import "functions";

// ====================================================================================================================================================================

// === Mixins are connected here. =====================================================================================================================================

@import "mixins";

// ====================================================================================================================================================================

// ====================================================================================================================================================================