._link-reset {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

._paragraph_reset {
  margin: 0;
  padding: 0;
}

._fieldset-reset {
  border: none;
  padding: 0;
  margin-inline: 0;
  min-inline-size: unset;
  padding-block: 0;
  padding-inline: 0;
}

._list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

._btn-reset {
  border: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
}

._no-visible {
  position: absolute !important; // stylelint-disable-line declaration-no-important
  left: 0 !important; // stylelint-disable-line declaration-no-important
  top: 0 !important; // stylelint-disable-line declaration-no-important
  overflow: hidden; // stylelint-disable-line declaration-no-important
  border: 0 !important; // stylelint-disable-line declaration-no-important
  padding: 0 !important; // stylelint-disable-line declaration-no-important
  width: 1px !important; // stylelint-disable-line declaration-no-important
  height: 1px !important; // stylelint-disable-line declaration-no-important
  opacity: 0 !important; // stylelint-disable-line declaration-no-important
  pointer-events: none !important; // stylelint-disable-line declaration-no-important
  clip: rect(1px, 1px, 1px, 1px) !important; // stylelint-disable-line declaration-no-important
}

._hidden {
  overflow: hidden; // stylelint-disable-line declaration-no-important
  opacity: 0 !important; // stylelint-disable-line declaration-no-important
  pointer-events: none !important; // stylelint-disable-line declaration-no-important
}

._container {
  margin: 0 auto;
  padding: 0 #{$safe-padding};
  max-width: #{$container-size + ($safe-padding * 2)};
}

._scroll-disabled {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  &_horizontal {
    overflow-x: hidden;
    width: 100vw;
  }

  &_vertical {
    overflow-y: hidden;
    height: 100vh;
  }
}

._img-holder {
  position: relative;

  img,
  use {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    fill: inherit;
  }

  &_contain {
    img {
      object-fit: contain;
    }
  }
}

._underline {
  display: inline;
  /* should be 'inline' for multiple line animation */
  padding-bottom: 1px;
  background-image: linear-gradient(#{cl(color-white)}, #{cl(color-white)});
  background-position: 50% calc(100% - 0px);
  background-size: 0 1px;
  background-repeat: no-repeat;
  transition: background-size 0.5s;

  &:hover,
  &._active {
    background-size: 100% 1px;
  }
}
